<section class="contact">
  <h2 class="section-title contact__title">Contact us</h2>
</section>

<style>
  .contact {
    border: 3px solid red;
    min-height: 100vh;
  }

  @media (min-width: 768px) {
  }
</style>
