<section class="services">
  <h2 class="section-title services__title">Our services</h2>
</section>

<style>
  .services {
    border: 3px solid red;
    min-height: 100vh;
  }

  @media (min-width: 768px) {
  }
</style>
